.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1600px;
    padding: 10px 30px;
    flex-grow: 1;
}