#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 32px;
}

@media screen and (width <= 920px) {
    .banner {
        .slider-section {
            .slider-container {
                .slider-content {   
                    .image-description {
                        border-radius: 0px;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
    
                    .image {
                        border-radius: 0px;
                        border-top-right-radius: 18px;
                        border-top-left-radius: 18px;
    
                        img {
                            border-radius: 0px;
                            border-top-right-radius: 18px;
                            border-top-left-radius: 18px;
                        }
                    }
                }
            }
        }
    }
  }
  
  @media screen and (width < 500px) {
    .main-header {
        .header-content {
            .header-nav {
                width: 100%;
            }
            .page-logo {
                .logo {
                    width: 40px;
                    height: 40px;
                    
                    .handshake-icon, .truck-icon {
                        font-size: 20px;
                    }
                }
            }
        }
    }
  
    .main-content {
        padding: 10px 10px;
    }
    .banner {
        .slider-section {
            padding: 20px 10px;
        }
    }
  }