.product-details-container {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    padding: 10px;

    .product-image-section {
        flex-grow: 1;
        flex-basis: 300px;
        border-radius: 10px;
        height: 100%;
        overflow: hidden;
        outline: 3px solid var(--secondary-color);

        .product-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-details-section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-grow: 1;
        flex-basis: 300px;

        .product-category-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product-category {
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }

            .bookmark-btn {
                font-size: 20px;
            }
        }

        .product-name-container {
            .product-name {
                margin: 0;
                border-bottom: 2px solid var(--secondary-color);
                padding-bottom: 10px;
            }
        }

        .product-rating-container{
            display: flex;
            gap: 10px;
            font-size: 18px;
        }

        .product-price-container {
            font-weight: 500;
            font-size: 25px;
        }

        .product-action-btns {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: auto;

            .product-buy-btn, .product-cart-btn {
                outline: 2px solid var(--secondary-color);
                padding: 2px;
                border-radius: 20px;
                transition: outline .3s ease-in-out;

                .product-buy-btn-text, .product-cart-text {
                    margin: 0;
                    border: none;
                    outline: none;
                    width: 100%;
                    padding: 10px;
                    border-radius: 20px;
                    background-color: none;
                    cursor: pointer;
                    color: var(--primary-color);
                    background-color: var(--secondary-color);
                    transition: background-color .3s ease-in-out;
                    font-weight: 600;
                }

                &:hover {
                    outline: 2px solid rgb(17, 113, 145);

                    .product-buy-btn-text, .product-cart-text {
                        background-color: rgb(17, 113, 145);
                        color: var(--primary-color);
                    }
                }
            }

            .product-cart-btn {
                outline: 2px solid var(--primary-color);

                .product-cart-text {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                }
            }
        }
    }
}

.product-description-container {
    color: var(--secondary-color);
    font-family: var(--primary-font);

    .product-description-section {
        .product-description {
            margin: 0;
            margin-top: 10px;
        }
    }
}

@media screen and (width < 660px) {
    .product-details-container {
        height: auto;
    }
}